# Python & Django
*.pyc
__pycache__/
*.sqlite3
oryzawatch_backend/env/
oryzawatch_backend/media/
.vscode/
.idea/

# Node & React
node_modules/
dist/
build/
.env
.env.local
oryzawatch_backend/.env

# OS
.DS_Store
Thumbs.db
